.container {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;

    .roleBtn {
        padding: 0.5rem;
        display: flex;
        justify-content: end;
        gap: 0.5rem;
    }
}

.panel{
    display: flex;
    justify-content: center;
    align-items: center;
}